<div class="weatherapp">
  <div class="appContainer">
    <h1>todo</h1>
    <!-- <form ui-keypress="{13:'newTask($event)'}"> -->
    <form ng-submit="newTask()">
      <input autofocus class="location" id="location" placeholder="Enter a task" type="text"  ng-model="task">
      <!-- <span id="instructions">Enter a task</span> -->
      <!-- <button id="go" ng-click="newTask()">Go!</button> -->
    </form>
  </div>
  <section id="main" ng-show="todos.length" ng-cloak>
  <ul id="todo-list">
    <li ng-repeat="todo in todos track by $index">
      <div class="view">
        <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
        <label>{{todo.task}}</label>
        <button class="destroy" ng-click="removeTodo(todo)"></button>
      </div>
    </li>
  </ul>
</section>
</div>

<footer class="info">
  <p>Created by Michael Liang</p>
  <p>View Source Code on
    <a href="#">GitHub</a>
  </p>
</footer>
